<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin DashBoard(Admin)</title>
</head>
<body>
    {% include '/admin/admin_sidebar.html' %}

    <div class="navbar">
        <h1>Admin Page</h1>
    </div>

  <div class="voter-container">
    <marquee>
      <h1>Welcome To Admin Page.</h1>
    </marquee>
  </div>
  <div class="footer">
    <p>&copy; 2023 Voting System. All rights reserved.</p>
  </div>
</body>
</html>