<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Voting Dashboard</title>
</head>
<body>

    {% include '/admin/admin_sidebar.html' %}

    <div class="navbar">
        <h1>Admin Dashboard</h1>
    </div>

    <h1 class="text-center">🗳️ Voting Results</h1>

    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card card-color">
                    <div class="card-body">
                        <i class="fas fa-vote-yea fa-3x"></i>
                        <h6>Total Votes Cast</h6>
                        <p>1,234</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card card-color">
                    <div class="card-body">
                        <i class="fas fa-flag fa-3x"></i>
                        <h6>Name of Winner Party</h6>
                        <p>TLP</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="main-content container">

        <div class="row">

            <div class="col-md-6">
                <div class="dashboard-card">
                    <h3>Votes per Candidate</h3>
                    <canvas id="votesChart"></canvas>
                </div>
            </div>

            <div class="col-md-6">
                <div class="dashboard-card">
                    <h3>Votes per Party</h3>
                    <canvas id="partyChart"></canvas>
                </div>
            </div>

        </div>

    </div>

    <div class="footer">
        <p>&copy; 2023 Voting System. All rights reserved.</p>
    </div>

</body>
</html>