<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting Timer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</head>
<body>
    <div class="timer-container">
        <h2>Voting will start after:</h2>
        <h1 id="timer" style="font-size: 48px; color: red;"></h1>
    </div>
</body>
</html>
