<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Voter DashBoard(Voter)</title>
</head>
<body>
    {% include '/voter/voter_sidebar.html' %}
    
  <div class="navbar">
    <h1>Welcome to Voter Home Page</h1>
  </div>

  <div class="voter-container">
    <marquee>
      <h1>Welcome To Voter Page.</h1>
      <p>Please Register First And Then Vote.</p>
    </marquee>
  </div>
  <div class="footer">
    <p>&copy; 2026 Voting System. All rights reserved.</p>
  </div>
</body>
</html>