<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Candidate Home Page(Candidate)</title>
</head>
<body>
    {% include '/candidate/candidate_sidebar.html' %}

    <div class="navbar">
        <h1>Candidate Home Page</h1>
    </div>

  <div class="voter-container">
    <marquee>
      <h1>Welcome To Candidate Page.</h1>
    </marquee>
  </div>
  <div class="footer">
    <p>&copy; 2026 Voting System. All rights reserved.</p>
  </div>
</body>
</html>