<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='script/main.js') }}"></script>
  <title>Candidate Sidebar</title>
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="/candidate/candidate_home_page">Home Page</a>
    <a href="/candidate/candidate_page">New Candidate</a>
    <a href="/candidate/candidate_list">Candidate Management</a>
    <a href="/candidate/see_results">Voting Results</a>
    <a href="/login">Logout</a>
  </div>

  <!-- Toggle Button -->
  <div class="toggle-btn" onclick="toggleSidebar()">☰</div>
</body>
</html>