<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Verify Candidate OTP(Candidate)</title>
</head>
<body>
  <div class="verify-container">
      <h2>Enter Candidate OTP</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <form method="POST" action="/candidate/verify_candidate_otp">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit" class="btn btn-success">Verify</button>
      </form>
  </div>
</body>
</html>